<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'js/tokenManager.js' %}"></script>
    <script src="{% static 'js/apiWrapper.js' %}"></script>
    <title>Verify 2FA</title>
    <script>
        async function verify2FA(event) {
            event.preventDefault();
            const token = localStorage.getItem('accessToken');
            const otp = document.getElementById('otp').value;

            try {
            const response = await apiFetch('/api/users/login/', {
                method: 'POST',
                headers: { 
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ '2fa_code': otp }),
            });

            if (response.ok) {
                alert('2FA verified. Welcome!');
                window.location.href = '/products/';
            } else {
                alert('Invalid 2FA code.');
            }
            } catch (error) {
            console.error('Error during 2FA verification:', error);
            alert('An error occurred. Please try again.');
            }
        }
    </script>
</head>

<body>
    <div>
        <h2>Two-Factor Authentication</h2>
        <form onsubmit="verify2FA(event)">
            <label for="otp">Enter your OTP:</label>
            <input type="text" id="otp" name="otp" required>
            <button type="submit">Verify</button>
        </form>
    </div>
</body>

</html>